{{> header}}

<section id="viewdestinationDetails">
    <div class="destination-area">
        <div class="destination-area-left">
            <img src="{{imgUrl}}" alt="some image">
        </div>
        <div class="destination-area-right">
            <h3>{{destination}}</h3>
            <div>{{city}}</div>
            <div class="data-and-time">
                {{departureDate}}
                <a href="/edit/{{id}}" class="edit-destination-detail"></a>
            </div>
            <div>
                {{duration}}
            </div>
        </div>
    </div>
</section>

{{>footer}}