{{> header}}

<h1>Edit Offer</h1>
<p class="message"></p>
<form action="/edit/{{id}}" method="PATCH">
    <div>
        <input type="text" placeholder="Name..." value="{{name}}">
    </div>
    <div>
        <input type="text" placeholder="Price..." value="{{price}}">
    </div>
    <div>
        <input type="text" placeholder="Image url..." value="{{image}}">
    </div>
    <div>
        <textarea placeholder="Give us some description about this offer..."> {{description}}</textarea>
    </div>
    <div>
        <input type="text" placeholder="Brand..." value="{{brand}}">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form>

{{> footer}}