{{> header}}

<h1>Edit Offer</h1>
<p class="message"></p>
<form action="/edit/{{id}}" method="PUT">
    <div>
        <input type="text" placeholder="Name..." value="{{name}}" name="name">
    </div>
    <div>
        <input type="text" placeholder="Price..." value="{{price}}" name="price">
    </div>
    <div>
        <input type="text" placeholder="Image url..." value="{{image}}" name="image">
    </div>
    <div>
        <textarea placeholder="Give us some description about this offer..." name="description"> {{description}}</textarea>
    </div>
    <div>
        <input type="text" placeholder="Brand..." value="{{brand}}" name="brand">
    </div>
     <div style="none">
        <input type="text" placeholder="owner..." value="{{owner}}" name="owner">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form>

{{> footer}}